---
import Button from "./Button.astro";
import CountryLinks from "./CountryLinks.astro";
import LinkButton from "./LinkButton.astro";
import ToggleButton from "./ToggleButton.astro";

const { country } = Astro.props;
---

<div class="min-h-[500px] px-5 sm:px-5 md:p-0" data-card>
  <div class="bg-white rounded-lg shadow-md w-full sm:w-full lg:w-[460px]">
    <div class="flex justify-between mb-5">
      <div class="flex items-center text-2xl text-se-dark capitalize flex-1 pl-5 border-b-2 border-gray-300">
        <span data-card-title>{country.name}</span>
      </div>
      <div class="h-20 w-20">
        <div class=`fib fi-${country.flag} fis block w-full h-full p-0 rounded-tr-lg`></div>
      </div>
    </div>
    <div class="flex min-h-full flex-col justify-start p-4 md:p-8 pt-0">
      <!-- Overarching Social Media -->
      <div class="font-semibold text-center mb-3">Country Wide Community</div>
      <div class="text-center mb-5 border-2 rounded-lg border-se-blue-200">
        <div class="flex justify-between gap-4 flex-wrap p-4">
          <div class="flex w-full justify-between gap-5 pt-2">
            <LinkButton icon="globe" newTab={true} id=`${country.flag}-website` tooltipText="Website" classes="basis-1/2 grow"
              url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8"
            />
            <LinkButton icon="discord" newTab={true} id=`${country.flag}-discord` tooltipText="Discord" classes="basis-1/2 shrink"
              url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8"
            />
          </div>
          
          <LinkButton icon="x" newTab={true} id=`${country.flag}-x` tooltipText="X" classes="flex-1"
            url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8"
          />
          <LinkButton icon="bs" newTab={true} id=`${country.flag}-bs` tooltipText="BlueSky" classes="flex-1"
            url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8"
          />
          <LinkButton icon="fb" newTab={true} id=`${country.flag}-fb` tooltipText="Facebook" classes="flex-1"
            url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8"
          />
          <LinkButton icon="instagram" newTab={true} id=`${country.flag}-instagram` tooltipText="Instagram" classes="flex-1"
            url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8"
          />
          <LinkButton icon="twitch" newTab={true} id=`${country.flag}-twitch` tooltipText="Twitch" classes="flex-1"
            url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8"
          />
          <LinkButton icon="yt" newTab={true} id=`${country.flag}-yt` tooltipText="Youtube" classes="basis-3/4 grow"
            url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8"
          />
        </div>
      </div>
      
      <!-- Discors and Socials -->
       <div class="font-semibold text-center mb-3">Game Specific Communities</div>
       <div class="text-center border-2 rounded-lg border-se-blue-200 p-2 md:p-4" data-game-container>
        <div class="flex justify-center flex-wrap gap-2 md:gap-5">
          <ToggleButton id=`${country.flag}-ultimate` text="Ultimate" classes="w-full" target="ultimate" targetType="game"/>
          <ToggleButton id=`${country.flag}-wii-u` text="Wii-U / 3DS" classes="w-full" target="wii-u" targetType="game"/>
          <ToggleButton id=`${country.flag}-melee` text="Melee" classes="w-full" target="melee" targetType="game"/>
          <ToggleButton id=`${country.flag}-p+` text="Project M/+" classes="w-full" target="p+" targetType="game"/>
          <ToggleButton id=`${country.flag}-brawl` text="Brawl" classes="w-full" target="brawl" targetType="game"/>
          <ToggleButton id=`${country.flag}-smash-64` text="Smash 64" classes="w-full" target="smash-64" targetType="game"/>
        </div>
        <div class="flex flex-col">
          <CountryLinks country={country} game="Smash Bros.Ultimate" gameId="ultimate" classes="hidden" />
          <CountryLinks country={country} game="Smash Bros. for Wii U / 3DS" gameId="wii-u" classes="hidden" />
          <CountryLinks country={country} game="Smash Bros. Melee" gameId="melee" classes="hidden" />
          <CountryLinks country={country} game="Project M/+" gameId="p+" classes="hidden" />
          <CountryLinks country={country} game="Smash Bros. Brawl" gameId="brawl" classes="hidden" />
          <CountryLinks country={country} game="Smash Bros. 64" gameId="smash-64" classes="hidden" />
        </div>
      </div>
    </div>
  </div>
</div>
