---
import { Image } from 'astro:assets';
import EventImage from './EventImage.astro';
import getDateFormatted from "@utils/getDateFormatted";
const { event } = Astro.props;

// Get the dates info and formatting
const startDate = new Date(event.dates[0]);
const endDate = new Date(event.dates[1]);

const dates = {
  startDate: getDateFormatted(startDate),
  endDate: getDateFormatted(endDate),
}

// compile dates to a string for easy rendering
const datesStr = `
    ${dates.startDate.month} ${dates.startDate.day}${dates.startDate.suffix}-${dates.endDate.day}${dates.endDate.suffix}
    ${dates.endDate.month !== dates.startDate.month ? dates.endDate.month : ''}`
---
<div class="bg-white h-full rounded-lg p-8 shadow-md">
  <div class="flex min-h-full bg-blue-500 flex-col justify-start">
    <span class="flex basis-full leading-none mb-3 items-center justify-center text-se-dark font-bold">
      {event.games}
    </span>
    <div class="flex basis-full">
      <EventImage imagePath=`${event.banner}` alt=`${event.title} banner` />
    </div>

    <div class="flex basis-full items-center py-2 leading-none">
      <span class="flex items-center text-2xl font-bold text-se-dark leading-none">
        {event.title}
        <!-- {event.subtitle &&
          <span>:</span> 
          <span class="flex flex-1 items-center font-normal text-lg leading-loose pt-1 pl-2">
            {event.subtitle}
          </span>
          } -->
      </span>
      
    </div>
    <div class="flex grow bg-green-800 min-h-32">
      <p set:html={event.description} class="text-se-muted text-sm text-justify leadin-loose bg-green-300 pt-4" />
    </div>
    
    <!-- <Fragment >
      
    </Fragment> -->
    
    <div class="flex basis-full bg-red-300 py-3">
      <span class="text-se-dark">{datesStr}</span>
      <span>{`, ${event.location.municipality}, ${event.location.country}`}</span>
    </div>
    
    <div class="flex basis-full py-3">
      <a target="_blank" href={event.details}>Trailer</a>
      <a target="_blank" href={event.details} class="flex-1">EventDetails Button</a>
      <a target="_blank" href={`/events/${event.id}`} class="flex-1">Event Page</a>
    </div>
  </div>
</div>
