---
import { Image } from 'astro:assets';
import EventImage from './EventImage.astro';
import getDateFormatted from "@utils/getDateFormatted";
const { event } = Astro.props;

// Get the dates info and formatting
const startDate = new Date(event.dates[0]);
const endDate = new Date(event.dates[1]);

const dates = {
  startDate: getDateFormatted(startDate),
  endDate: getDateFormatted(endDate),
}

// compile dates to a string for easy rendering
const datesStr = `
    ${dates.startDate.month} ${dates.startDate.day}${dates.startDate.suffix}-${dates.endDate.day}${dates.endDate.suffix}
    ${dates.endDate.month !== dates.startDate.month ? dates.endDate.month : ''}`
---
<div>
  <a href={`/events/${event.id}`}>
    <p>game(s): {event.games}</p>
    <EventImage imagePath=`${event.banner}` alt=`${event.title} banner` />

    <p>title: {event.title}</p>
    {event.subtitle &&
      <p>subtitle: {event.subtitle}</p>
    }
    <p set:html={event.description} />
    <p>dates: {datesStr}</p>
    <p>location: {event.location.municipality}, {event.location.country}</p>
  </a>
</div>
