---
import { Icon } from 'astro-icon/components';
const {
  icon, 
  text, 
  url,
  classes = " ",
  colors = 'bg-se-blue-100 hover:bg-se-blue-200', 
  newTab = false
} = Astro.props;

---

<a target={newTab} href={url} class={`${classes} ${colors} px-4 md:px-6 py-3 min-w-20 rounded-lg flex justify-center items-center`}>
  {icon && <Icon name={icon} class="text-lg" />}
  {text && text}
</a>