---
import BaseLayout from './base-layout.astro';
const {frontmatter} = Astro.props;
---

<BaseLayout title="news"/>
  <h1>{frontmatter.title}</h1>
  <span>{frontmatter.author}</span>
  <span>{frontmatter.date}</span>
  <p>{frontmatter.content}</p>
  <span>{frontmatter.tags}</span>
</BaseLayout>