---
import Button from '../universal/button.astro';
import { getCollection, getEntry } from 'astro:content';

const ultRanking = await getEntry('rankings', 'ultimate/01_ult-rank-2023');

---
<section id="rankings" class="container">
  
  <h1>Rankings</h1>
  <h2>{ultRanking?.data.game} - Ranking</h2>
  <ul>
    { ultRanking?.data.rankedPlayers.slice(0,5).map((player, index) => (
        <li>
          {player.rank} | 
          {player.tag} - 
          {player.name} - 
          {player.country} - 
          chars: 
          {player.characters.map((character:String, index) => (
            index == 0 ? character + " - " : character
            ))
          }
        </li>
      ))
    }
  </ul>
  <div>
    <Button name="full ranking" icon="fas fa-award" url="/rankings"/>
  </div>
</section>

<style>
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: inherit;
    margin-bottom: 50px;
  }

  ul {
      list-style: none;
  }
</style>
