---
import Button from '../universal/button.astro';
import { getEntry } from 'astro:content';


const  {
  isFull = false,
  limit = 5,
  slug,
  ranking } = Astro.props;

console.log("is it full: " + isFull);

---
<section id="rankings" class="container">
  <h2>{ranking.data.game} - Ranking</h2>
  <ul>
    { ranking.data.rankedPlayers.slice(0,limit).map((player:any, index:any) => (
        <li>
          {player.rank} | 
          {player.tag} - 
          {player.name} - 
          {player.country} - 
          chars: 
          {player.characters.map((character:String, index:any) => (
            index == 0 ? character + " , " : character
            ))
          }
        </li>
      ))
    }
  </ul>
  <div>
    {console.log("full: " + isFull)}
    {isFull == true 
      ? <Button name="back to all rankings" icon="fas fa-arrow-circle-left" url="/rankings/"/> 
      : <Button name="full ranking" icon="fas fa-award" url={"/rankings/" + slug} />  }
  </div>
</section>

<style>
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: inherit;
    margin-bottom: 50px;
  }

  ul {
      list-style: none;
  }
</style>
