---
import { getEntry, CollectionEntry } from 'astro:content';
const firstEntry = await getEntry('blog', 'welcome');

interface Props {
  post: CollectionEntry<'blog'>;
}

const {
  post  =  firstEntry } = Astro.props;   

const { Content } = await post.render();
var post_page = "/blog/" + post.data.slug;

// const categories = post.data.categories;
// console.log("test - " + categories.map((cat:string) => cat ) );
---

<div class="card">
  <div class="image">
    <img src={post.data.image}/>
  </div>
  <span>{post.data.title}</span>

  <p>{post.data.desc}</p>
  <span>author: {post.data.author}</span>
  
  <div class="buttons">
    <a href={post_page}>read more</a>
  </div>

  <ul style="display:flex; list-style-type: none; margin-top: 20px">
    categories:
    { post.data.categories.map((category:string) => <li>{category}</li> )} 
  </ul>
  <ul style="display:flex; list-style-type: none;">
    tags:   
    { post.data.tags.map((tag:string) => <li>{tag} </li> )} 
  </ul>
</div>

<style lang="scss">
  .card {
    background: rgb(152, 152, 232);
    display: flex;
    flex-direction: column;
    
    min-height: 200px;
    width: 400px;
    margin-bottom: 2em;

    border: 1px black solid;
    border-radius: 10px;

    @media screen and (max-width: 1000px) {
        width:100%;
    }

    span {
      width:100%;
      &.game {
        text-align: center;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      li:not(:first-child) {
        padding-left: 0.1rem;
      }
    }

    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
</style>