---
import Button from '../../universal/button.astro';
const { 
    games = "Game", 
    image_src = "../../assets/regen2023_banner.jpg",
    title = "Event Name Year", 
    info = "Praesent luctus lacus in rutrum aliquet. Pellentesque tristique tortor id finibus mollis. Phasellus id leo ac ante luctus ultricies. Vestibulum molestie mi viverra.", 
    data = "August 18-20th, Birmingham, England",  
    trailer_url = "http://google.com", 
    reg_url = "https://start.gg",
    eventSlug = "regen-2023"   } = Astro.props;
---

<div class="card">
  <span class="game">{games}</span>
  <div class="image">
    <img src={image_src}/>
  </div>
  <span>{title}</span>
  <p>{info}</p>
  <span>{data}</span>
  <div class="buttons">
    <Button  slot="button" name="trailer" icon="far fa-play-circle fa-lg fa-fw" styleClasses="flex-1" url={trailer_url} />
    <Button  slot="button" name="details" icon="fas fa-sitemap fa-lg fa-fw" styleClasses="flex-1" url={reg_url}/>
    <Button  slot="button" name="more info" icon="" styleClasses="flex-1" url={"/events/" + eventSlug}/>
  </div>
</div>

<style lang="scss">
  .card {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
    min-height: 200px;
    width: 400px;
    margin-bottom: 2em;

    border-color: #edf2f9;
    border-radius: 0.5rem;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,0.03);

    padding: 40px;

    @media screen and (max-width: 1000px) {
        width:100%;
    }

    .buttons {
      display: flex;
      justify-content: center;
      flex:auto;
      margin-top: 30px;

      @media screen and (max-width: 1000px) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    span {
      width:100%;
      &.game {
        text-align: center;
      }
    }

    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
</style>