---
import Tooltip from './tooltip.astro';

const { 
  name = "",
  tooltipName="",
  styleClasses ="",
  mobileNameOnly= false,
  icon = "far fa-calendar-alt fa-lg fa-fw",    
  url="https://google.com" } = Astro.props;

---

<a class={"btn" + (mobileNameOnly ? " flex-1": "")+ (tooltipName != "" ? " tooltip" : "") + (styleClasses != "" ? " " + styleClasses : "" ) }href={url} class={styleClasses}>
  <i class={icon}></i>
  
  {name != "" && mobileNameOnly == false  
    ? <span class="name">{name}</span> //  display name regardless of screen rez
    : name != "" && mobileNameOnly ? <span class="name mobileOnly">{name}</span> : ""   //  display name only on mobile
    }
  {name != "" && mobileNameOnly == false  ? "" : <Tooltip class="tooltiptext"name={tooltipName} /> }

</a>

<style lang="scss">
  a:not(:last-child) {
    margin-right: 10px;

    @media screen and (max-width: 800px) {
      margin:0;
      margin-right: 10px;
    }
  }

  a.btn {
    display: inline-block;
    text-align: center;
    color: #283e59;
    background-color: #edf2f9;
    border-color: #edf2f9;
    font-weight: 400;
    vertical-align: center;
    text-align: middle;

    padding: 0.75rem 1.25rem;
    font-size: .9375rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: capitalize;

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s;

    &.flex-1 {
      flex: 1;
      text-align: center;
    }

    &.flex-2 {
      flex: 3;
      text-align: center;
    }

    @media screen and (max-width: 800px) {
        text-align: center;
        // margin-bottom: 10px;

        &:not(:last-child) {
          margin-bottom: 14px;
          margin-right: 10px;
        }
        &:last-child {
          margin-bottom: 14px;
          margin-right: 10px;
        }
    }

    &:hover {
      color: #283e59;
      background-color: #d0ddef;
      border-color: #c7d6ec;
    }

    &.dark {
      color: #fff;
      background-color: #6e84a3;
      border-color: #6e84a3;

      &:hover {
        color: #fff;
        background-color: #5b7190;
        border-color: #566b88;
      }
    }

    span.name {
      margin-left: 0.2rem;
      &.mobileOnly {
        display: none;
        @media screen and (max-width: 800px) {
          display: block;
        }
      }
    }

    &.tooltip { /* Tooltip container */
      position: relative;
      display: inline-block;
      // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
      
      @media screen and (min-width: 800px) {
        &:hover {
          & > span.tooltiptext {
            visibility: visible;
          }
        }
      }

      @media screen and (max-width: 800px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
      }
    }
  }

  
</style>