---
import Button from '../universal/button.astro';
---

<section id="info-header">
  <div class="container">
    <div id="image">
      <img src="/assets/smasheurope_logo_default.png"/>
    </div>
    <div id="info">
      <h1>Welcome to SmashEurope! </h1>
      <p>Here you can find your local European Smash community and an overview of events to compete in.</p>
      <p>You're encouraged to follow our social accounts to stay in the loop of developments in the scene.</p>
      <p>The European Smash community has been active for over two decades. It's made up of a grassroots scene fragmented into various communities. SmashEurope was launched in January of 2015 as central hub into this community.</p>  
      <p>Best of luck on your Smash journey!</p>
      <span class="text-dark">—The SmashEurope Development Team</span>
      <div id="buttons">
        <Button name="Calendar" mobileNameOnly={true} tooltipName="Calendar" icon="far fa-calendar-alt fa-lg fa-fw" url="https://smasheurope.com/#tournament-calendar"/>
        <Button name="Communities" mobileNameOnly={true} tooltipName="Communities" icon="fas fa-users fa-lg fa-fw" url="https://docs.google.com/spreadsheets/d/11ElDfT0YmpIuiuApQ95lnoKM3b6BIe8MXmPyUfK4Sx8"/>
        <Button name="Twitter" mobileNameOnly={true} tooltipName="Twitter" icon="fab fa-twitter fa-lg fa-fw" url="https://twitter.com/smasheurope"/>
        <Button name="Facebook" mobileNameOnly={true} tooltipName="Facebook" icon="fab fa-facebook-f fa-lg fa-fw" url="https://www.facebook.com/smasheurope/"/>
        <Button name="Twitch" mobileNameOnly={true} tooltipName="Twitch" icon="fab fa-twitch fa-lg fa-fw" url="https://twitch.tv/smasheurope"/>
        <Button name="YouTube" mobileNameOnly={true} tooltipName="YouTube" icon="fab fa-youtube fa-lg fa-fw" url="https://youtube.com/smasheurope"/>
        <Button name="Reddit" mobileNameOnly={true} tooltipName="Reddit" icon="fab fa-reddit-alien fa-lg fa-fw" url="https://www.reddit.com/r/smasheurope/"/>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  #info-header {
    // background: rgb(116, 116, 208);
    display: flex;
    justify-content: center;

    .container {
      background-color: #fff;
      padding: 1.5rem;
      margin-bottom: 1.5rem;
      border-color: #edf2f9;
      border-radius: 0.5rem;
      box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);

      @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
      }
    }

    #image {
      // background: rgb(156, 156, 196);
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      @media screen and (min-width: 800px) {
        flex: 1;
        order: 2;
      }     
    }
    #info {
      // background: rgb(230, 157, 157);
      @media screen and (min-width: 800px) {
        flex: 2;
        order: 1;
        width: 50%;
      }
      @media screen and (max-width: 799px) {
        width: 100%;
      }

      #buttons {
        margin-top: 20px;
        width: 100%;
        @media screen and (min-width: 800px) {
          flex: 0 0 100%;
          order: 3;
        }

        @media screen and (max-width: 987px) {
          display: flex;
        }

        @media screen and (max-width: 799px) {
          display: flex;
          flex-direction: column;

          a {
            margin-bottom: 11px;
          }
        }
      }
    }
  }
</style>