---
import { getCollection, CollectionEntry } from 'astro:content';
const { collection = 'events' } = Astro.props
const allEvents = await getCollection(collection);

import EventCard from './event-card.astro';
---


<section id="events" class="container">
  <h1>All Events</h1>
  {
    allEvents.map((event, index) => (
      <EventCard 
        games={event.data.games}
        title={event.data.title}
        desc={event.data.desc}
        image_src={event.data.image}
        month={event.data.month}
        start={event.data.start}
        end={event.data.end}
        city={event.data.city}
        country={event.data.country}
        trailer_url={event.data.trailer_url}
        reg_url={event.data.reg_url}
        eventSlug={event.data.slug}
        event={event}
      />
    ))
  }
</section>

<style lang="scss">
  .container {
    max-width: inherit;
    background: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
</style>