---
import { getEntry, CollectionEntry } from 'astro:content';
import Button from '../universal/button.astro';
const firstEntry = await getEntry('events', 'regen-2023');

interface Props {
  games: "";
  image_src: "/assets/regen2023_banner.jpg";
  title: "Event Name Year"; 
  desc: "Praesent luctus lacus in rutrum aliquet. Pellentesque tristique tortor id finibus mollis. Phasellus id leo ac ante luctus ultricies. Vestibulum molestie mi viverra."; 
  month: "august";
  start: 18;
  end: 20;
  city: "city";
  country: "country";
  trailer_url: "http://google.com";
  reg_url: "https://start.gg";
  eventSlug: "regen-2023";
  event: CollectionEntry<'events'>;
}

const {
  games = "Game", 
  image_src = "/assets/regen2023_banner.jpg",
  title = "Event Name Year", 
  desc = "Praesent luctus lacus in rutrum aliquet. Pellentesque tristique tortor id finibus mollis. Phasellus id leo ac ante luctus ultricies. Vestibulum molestie mi viverra.", 
  month = "august", 
  start = 18,
  end = 20,
  city = "city",
  country = "country",
  trailer_url = "http://google.com", 
  reg_url = "https://start.gg",
  eventSlug = "regen-2023", 
  event =  firstEntry } = Astro.props;   

const { Content } = await event.render();
var event_page = "/events/" + event.data.slug;
---

<div class="card">
  <span class="game">{games}</span>
  <div class="image">
    <img src={image_src}/>
  </div>
  <span>{title}</span>

  { Content != undefined ? <Content/> : "" }
  
  <span>{month} {start}-{end}, {city}, {country}</span>
  <div class="buttons">
    {trailer_url ? <Button  name="trailer" styleClasses="flex-1" icon="far fa-play-circle fa-lg fa-fw" url={trailer_url}/> : "" }  
    <Button  name="details" styleClasses="flex-1" icon="fas fa-sitemap fa-lg fa-fw" url={reg_url}/>
  </div>
  <div class="buttons learn-more">
    <Button  name="learn more" styleClasses="flex-2" icon="" url={event_page}/>
  </div>
</div>

<style lang="scss">
  .card {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
    min-height: 200px;
    width: 400px;
    margin-bottom: 2em;

    border: 1px rgb(83, 83, 83) solid;
    border-radius: 10px;
    padding: 10px;

    @media screen and (max-width: 1000px) {
        width:100%;
    }

    span {
      width:100%;
      &.game {
        text-align: center;
      }
    }

    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      margin: 20px 0px 2px;

      &.learn-more {
        margin: 10px 0;
        width: 100%;
      }
    }
  }
</style>