---
import Button from '../../universal/button.astro';
const { 
    title = "The S.A.M.E Circuit 2021", 
    image_src = "/assets/same-sticker.png",
    info = "<p>Times had changed but we were S till. A rranging. M elee. E vents</p><p>In 2021 a collective of 11 premier European TO teams joined forces under the S.A.M.E Circuit to give an online taste of some the best that European Melee could still offer (under the COVID-19 pandemic regulations). The circuit consisted of 9 online major qualifier events each offering Singles, Teams and International Crews. Competitors earned points in order to qualify for the circuit Finale where coveted prizes could be earned.</p><p>S.A.M.E circuit partnered with Beyond The Summit and was streamed entirely on their Twitch Channel. In return funds were given to production and two invites to Smash Summits could be earned. Additional partners included Kone's Academy which offered free coaching trials to placement in the amateur brackets, Metafy which offered a prizepool for the Finale and Poilon Software which provided the circuit ranking website.</p>",  
    trailer_url = "https://www.youtube.com/watch?v=pCGLUPCRxuY",
    details_url = "https://smash.gg/SAMEcircuit"  } = Astro.props;
---

<section class="eu-initiative">
  <div class="container">
    <div class="card">
      <div class="image">
        <img src={image_src}/>  
      </div>
      <div class="info">
        <span class="card-title">{title}</span>
        <Fragment set:html={info}/>
        <div class="buttons">
          <Button  slot="button" name="trailer" icon="far fa-play-circle fa-lg fa-fw" url={trailer_url} />
          <Button  slot="button" name="details" icon="fas fa-sitemap fa-lg fa-fw" url={details_url}/>
          <slot name="button"/>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .eu-initiative {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    

    .card {
      background-color: #fff;
      display:flex;
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);

      .image {
        //background: green;
        display: flex;
        justify-content: center;
        align-items: center;
        height:inherit;
        flex: 0 0 20em;
      }

      @media screen and (max-width: 799px) {
        flex-direction: column;
      }

      .info {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        
        @media screen and (max-width: 800px) {
          justify-content: space-around;
        }
      }
    }
  }
</style>