---
import { getEntry, CollectionEntry } from 'astro:content';
import Button from '../universal/button.astro';
const firstEntry = await getEntry('blog', 'welcome');

interface Props {
  post: CollectionEntry<'blog'>;
}

const {
  post  =  firstEntry } = Astro.props;   

const { Content } = await post.render();
var post_page = "/blog/" + post.data.slug;

// const categories = post.data.categories;
// console.log("test - " + categories.map((cat:string) => cat ) );
---

<div class="card">
  <div class="image">
    <img src={post.data.image}/>
  </div>
  <span>{post.data.title}</span>

  <p>{post.data.desc}</p>
  <span>author: {post.data.author}</span>
  
  <div class="buttons">
    <Button  name="learn more" styleClasses="flex-2" icon="" url={post_page}/>
  </div>

  <div class="data">
    <ul>
      categories:
      { post.data.categories.map((category:string) => <li>{category}</li> )} 
    </ul>
    <ul style="flex:3">
      tags:   
      { post.data.tags.map((tag:string) => <li>{tag} </li> )} 
    </ul>
  </div>
</div>

<style lang="scss">
  .card {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
    min-height: 200px;
    width: 400px;
    margin-bottom: 2em;

    border: 1px rgb(108, 106, 106) solid;
    border-radius: 10px;

    padding: 10px;

    @media screen and (max-width: 1000px) {
        width:100%;
    }

    span {
      width:100%;
      &.game {
        text-align: center;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      li:not(:first-child) {
        padding-left: 0.1rem;
      }
    }

    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;

      margin: 10px 0;
    }
    
    .data {
      display: flex;
      flex-wrap: wrap;

      & > ul {
        display:flex; 
        list-style-type: none;
        flex-wrap: wrap;
        margin: 0 10px;
        flex: 2;
        align-items: center;
      }
    }
  }
</style>